<h2>Transactions</h2>
<table class="table">
  <thead>
  <th *ngFor="let prop of transactionProperties">{{prop}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <td *ngFor="let prop of transactionProperties">
      {{transaction.getPropertyForDisplay(prop)}}
    </td>
  </tr>
  </tbody>
</table>
