<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-magenta">
        <i class="icon ion-ios-analytics"></i>
        Toast Notifications
      </div>
      <div class="card-block">
        <label for="title">Toast Title</label>
        <input class="form-control" id="title"
               [(ngModel)]="toastTitle"
               type="text"
               placeholder="Title"
               >
        <label for="message">Toast Message</label>
        <input class="form-control" id="message"
               [(ngModel)]="toastMessage"
               type="text"
               placeholder="Message"
               >
        <br>
        <button class="btn btn-primary" (click)="showToastClicked()">Show Toast</button>
        <small>Todo - all input options!</small>
      </div>
    </div>
  </div>
</div>
