<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-pale-green">
        <i class="icon ion-ios-analytics"></i>
        States - Strings
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xs-8">
            <ul class="card-text">
              <li>Local Data</li>
              <li>Simple Array of Strings</li>
              <li>Show Possibilities on Click</li>
              <li>Use Tab or Enter for Completion</li>
            </ul>
            <div class="ctsapp icon input wrapper">
              <i class="icon ion-ios-flag"></i>
              <input type="text" class="" placeholder="State"
                     ctsappTypeahead
                     [data]="states"
                     [showOnClick]="true"
                     (onSelection)="onSimpleStateSelection($event)"
              >
            </div>
          </div>
          <div class="col-xs-4">
            <p>Selected State:</p>
            <p>{{selectedSimpleState}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-gold">
        <i class="icon ion-ios-analytics"></i>
        States - JSON Objects
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xs-8">
            <ul class="card-text">
              <li>Local Data</li>
              <li>States are Objects with 'name' Property</li>
              <li>Show Possibilities on Dropdown</li>
            </ul>
            <div class="ctsapp icon input wrapper">
              <i class="icon ion-ios-flag"></i>
              <input type="text" class="" placeholder="State"
                     ctsappTypeahead
                     [data]="statesAbbreviation"
                     [textProperty]="'name'"
                     [dropdownButton]="stateDropdownButton"
                     (onSelection)="onJsonStateSelection($event)"
              >
              <div #stateDropdownButton class="dropdown-button">
                <i class="icon ion-android-arrow-dropdown"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <p>Selected State:</p>
            <ul *ngIf="selectedJsonState">
              <li>{{selectedJsonState.name}}</li>
              <li>{{selectedJsonState.abbreviation}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-magenta">
        <i class="icon ion-ios-analytics"></i>
        Riders - Remote
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xs-8">
            <ul class="card-text">
              <li>Remote Data</li>
              <li>Uses a function to show the Rider's name</li>
              <li>Shows Error if no Selection</li>
              <li>Upwards Direction</li>
            </ul>
            <div class="ctsapp icon input wrapper" [class.error]="riderError.length">
              <i class="icon ion-person"></i>
              <input type="text" class="" placeholder="Rider"
                     ctsappTypeahead
                     [dataSubject]="riderSubject"
                     [textProperty]="getRiderName"
                     [minLength]="'2'"
                     [direction]="'up'"
                     (remoteDataCall)="getRiderFromQuery($event)"
                     (onSelection)="onRiderSelection($event)"
                     (onMatch)="onRiderMatch($event)"
                     (onNoMatch)="onRiderNoMatch($event)"
              >
            </div>
            <div class="error">{{riderError}}</div>
          </div>
          <div class="col-xs-4">
            <p>Selected Rider:</p>
            <ul *ngIf="selectedRider">
              <li *ngFor="let prop of riderProperties">
                {{prop}}: {{selectedRider.getPropertyForDisplay(prop)}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

