<div class="card" [appTour]="'Welcome'" [tourContent]="'Welcome! This is an example feature tour.'" [tourPlacement]="'bottom'" [tourIndex]="0">
    <div class="card-header bg-pale-green">
      <i class="icon ion-ios-analytics"></i>
      Dashboard
    </div>
    <div class="card-block">
      <h5 class="card-title">Welcome!</h5>
      <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
      <button class="btn btn-primary" (click)="startFeatureTourClicked()">Start Feature Tour</button>
    </div>
</div>

<div class="card" [appTour]="'Socket Events'" [tourContent]="'These are socket events using socket.io.'" [tourPlacement]="'top'" [tourIndex]="2">
  <div class="card-header bg-blue">
    <i class="icon ion-ios-analytics"></i>
    Socket Events
  </div>
  <div class="card-block">

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="data-widget">
          <div class="left-wrapper bg-blueberry">
            DATA 1
          </div>
          <div class="right-wrapper">
            <div class="top blueberry">
              {{num1}}
            </div>
            <div class="bottom">
              Updated every 0.5 seconds
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="data-widget">
          <div class="left-wrapper bg-magenta">
            DATA 2
          </div>
          <div class="right-wrapper">
            <div class="top magenta">
              {{num2}}
            </div>
            <div class="bottom">
              Updated every second
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="data-widget">
          <div class="left-wrapper bg-gold">
            DATA 3
          </div>
          <div class="right-wrapper">
            <div class="top gold">
              {{num3}}
            </div>
            <div class="bottom">
              Updated every 2 seconds
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="data-widget">
          <div class="left-wrapper bg-light-red">
            DATA 4
          </div>
          <div class="right-wrapper">
            <div class="top light-red">
              {{num4}}
            </div>
            <div class="bottom">
              Updated every 3 seconds
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<router-outlet></router-outlet>
