<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="closeExButtonClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Hi there! Routed</h4>
</div>
<div class="modal-body">
  <p>Hello, {{name}}!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeButtonClicked()">Close</button>
</div>
