<div class="notification-sidebar" [class.closed]="!notificationSidebarService.isOpen">
  <div class="notifications-header">
    Notifications
  </div>
  <div class="notification-list">
    <div class="notification-wrapper" *ngFor="let notification of notifications">
      <div class="notification-title-wrapper">
        <div class="icon-wrapper">
          <i class="icon ion-ios-bell"></i>
        </div>
        <div class="title">
          {{notification.title}}
        </div>
      </div>
      <div class="subcontent">
        {{notification.content}}
      </div>
      <div class="ts">
        {{notification.timestamp | date}}
      </div>
    </div>
  </div>
</div>
