$notification-sidebar-width: 240px;

.notification-sidebar {

  flex: 1;
  width: $notification-sidebar-width;
  background: white;
  border-left: 1px solid #CCC;
  padding: 1rem;
  overflow-y: auto;

  &.closed {
    display: none;
  }

  .notifications-header {
    color: rgba(0,0,0,0.7);
    font-weight: 100;
    font-size: 1.1rem;
  }

  .notification-list {
    padding-top: 1rem;

    .notification-wrapper {
      padding-bottom: 1rem;

      .notification-title-wrapper {
        display: flex;
        font-size: 0.9rem;
        color: rgba(0,0,0,0.6);

        .icon-wrapper {
          padding-right: 0.5rem;
        }

        .title {

        }
      }
    }

    .subcontent {
      font-size: 0.8rem;
      padding-left: 0.1rem;
      padding-top: 0.2rem;
      color: rgba(0,0,0,0.6);
    }

    .ts {
      color: rgba(0,0,0,0.4);
      font-size: 0.7rem;
      padding-left: 0.1rem;
    }
  }
}
