<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card" [appDroppable]="'zone1'" (onDrop)="onZone1Drop($event)">
      <div class="card-header bg-pale-green" >
        <i class="icon ion-ios-analytics"></i>
        Drag and Drop - Zone 1
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li class="draggable-li" [appDraggable]="item" [dropzone]="'zone2'" *ngFor="let item of zone1Items">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card" [appDroppable]="'zone2'" (onDrop)="onZone2Drop($event)">
      <div class="card-header bg-light-red">
        <i class="icon ion-ios-analytics"></i>
        Drag and Drop - Zone 2
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li class="draggable-li" [appDraggable]="item" [dropzone]="'zone1'" *ngFor="let item of zone2Items">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-blueberry">
        <i class="icon ion-ios-analytics"></i>
        Drag and Drop - Transactions to a Pass
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Drag a Transaction to the Pass zone to assign its Pass ID</li>
        </ul>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">
                <i class="icon ion-ios-analytics"></i>
                Transactions
              </div>
              <div class="card-block">
                <ul>
                  <li class="draggable-li" *ngFor="let transaction of transactions" [appDraggable]="transaction" [dropzone]="'passZone'">
                    <span *ngFor="let prop of transactionProperties; let i = index">
                      {{i == 0 ? '' : ', '}}{{prop}}: {{transaction.getPropertyForDisplay(prop)}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <div class="card-header">
                <i class="icon ion-ios-analytics"></i>
                Pass - {{pass?.model.id}}
              </div>
              <div class="card-block" [appDroppable]="'passZone'" (onDrop)="onTransactionDrop($event)">
                <div *ngIf="!recentlyDroppedTransaction">
                  Drag here to assign the transaction's passId. This will be reflected on the server.
                </div>
                <div *ngIf="recentlyDroppedTransaction">
                  <p>
                    Dropped transaction with id <small>{{recentlyDroppedTransaction.model.id}}</small>
                  </p>
                  <p>
                    Assigned passId {{pass?.model.id}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

