<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-pale-green">
        <i class="icon ion-ios-analytics"></i>
        Date Picker with Time
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Dropdown calendar with month format</li>
          <li>Time select is minimized by default</li>
        </ul>
        <div class="form-group">
          <div class="input-group date" dateTimePicker>
            <input type="text" class="form-control" [(ngModel)]="myDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-light-red">
        <i class="icon ion-ios-analytics"></i>
        Date Picker with No Time, Disabled Past
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Past date is disabled</li>
          <li>Time select is disabled</li>
        </ul>
        <div class="form-group">
          <div class="input-group date" dateTimePicker [disablePast]="true" [dateFormat]="'MM/DD/YYYY'">
            <input type="text" class="form-control" [(ngModel)]="myDate2" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-magenta">
        <i class="icon ion-ios-analytics"></i>
        Side by Side Date Time Picker
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Calendar and Time Picker are side by side</li>
        </ul>
        <div class="form-group">
          <div class="input-group date" dateTimePicker [sideBySide]="true">
            <input type="text" class="form-control" [(ngModel)]="myDate3" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blue">
        <i class="icon ion-ios-analytics"></i>
        Date Picker with Specific Format
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Date format is specified using [dateFormat]</li>
        </ul>
        <div class="form-group">
          <div class="input-group date" dateTimePicker [dateFormat]="'MMMM Do YYYY, h:mm:ss a'">
            <input type="text" class="form-control" [(ngModel)]="myDate4" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

