<h2>Riders</h2>
<table class="table">
  <thead>
  <th *ngFor="let prop of riderProperties">{{prop}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let rider of riders">
    <td *ngFor="let prop of riderProperties">
      {{rider.getPropertyForDisplay(prop)}}
    </td>
  </tr>
  </tbody>
</table>
