$navbar-background: #427FED;

.app-navbar {

  display: flex;
  justify-content: space-between;
  background: $navbar-background;
  font-size: 0.8rem;

  .left-wrapper {
    display: flex;

    .sidebar-button {
      padding: 0.6rem 0.9rem;
      color: white;
      border-right: 1px solid rgba(255,255,255,0.3);
      cursor: pointer;

      &:hover {
        background: rgba(255,255,255,0.03);
      }
      &:active {
        background: rgba(255,255,255,0.1);
      }
    }

    .search-wrapper {
      display: flex;
      align-items: center;
      padding: 0.3rem 0 0.3rem 1rem;

      .search-bar {
        font-size: 0.8rem;
      }
    }
  }

  .right-wrapper {
    display: flex;
    color: white;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      border-left: 1px solid rgba(255,255,255,0.5);
      cursor: pointer;

      &:hover {
        background: lighten($navbar-background, 3%);
      }
      &:active {
        background: darken($navbar-background, 3%);
      }

      .pic {

      }

      .username {

      }
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      border-left: 1px solid rgba(255,255,255,0.5);
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        background: rgba(255,255,255,0.2);
      }

      &.toggled {
        background: rgba(0,0,0,0.4);
      }

      //&:last-child {
      //  border-right: 1px solid rgba(255,255,255,0.5);
      //}
    }
  }

  .dropdown-menu {
    padding: 0;
    color: rgba(0,0,0,0.7);

    li {
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background: rgba(0,0,0,0.05);
      }
      &:active {
        background: rgba(0,0,0,0.1);
      }

      i {
        padding-right: 0.5rem;
      }
    }
  }
}
