<div class="app-navbar">
  <div class="left-wrapper">
    <div class="sidebar-button" [hidden]="sidebarService.isOpen" (click)="openSidebarClicked()">
      <i class="icon ion-navicon-round"></i>
    </div>
    <div class="search-wrapper">
      <div class="ctsapp borderless icon input wrapper">
        <i class="icon ion-android-search"></i>
        <input type="text" class="search-bar" placeholder="Search">
      </div>
    </div>
  </div>
  <div class="right-wrapper">
    <div class="profile">
      <div class="pic" style="display: none">

      </div>
      <div class="dropdown">
        <div class="username" data-toggle="dropdown">
          <span>{{loggedInUser.email}}</span>
          <small>{{loggedInUser.isAdmin ? '(Admin)' : '(Normal)'}}</small>
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
          <li (click)="changeUserPermissionToAdminClicked()">
            <i class="icon ion-unlocked"></i> Make Admin
          </li>
          <li (click)="changeUserPermissionToNormalClicked()">
            <i class="icon ion-locked"></i> Make Normal
          </li>
        </ul>
      </div>
    </div>
    <div class="button-wrapper" (click)="toggleNotificationSidebarClicked()" [class.toggled]="notificationSidebarService.isOpen">
      <i class="icon ion-android-notifications-none"></i>
    </div>
  </div>
</div>
