<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Input Modal - Rider</h4>
</div>
<div class="modal-body">
  <table class="table" *ngIf="rider">
    <thead>
      <th *ngFor="let prop of riderProperties">{{prop}}</th>
    </thead>
    <tbody>
    <tr>
      <td *ngFor="let prop of riderProperties">
        {{rider.getPropertyForDisplay(prop)}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
