<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blueberry">
        <i class="icon ion-ios-analytics"></i>
        Simple Modal
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>A basic modal with header, body, and footer fields</li>
        </ul>
        <button type="button" class="btn btn-primary" (click)="openSimpleModalClicked()">
          Launch simple modal
        </button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blue">
        <i class="icon ion-ios-analytics"></i>
        Modal with Parameters
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Inputs and Outputs</li>
        </ul>
        <button type="button" class="btn btn-primary" (click)="modalWithInputsClicked()">
          Launch Rider modal
        </button>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-light-red">
        <i class="icon ion-ios-analytics"></i>
        Confirmation Modal
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Collect response</li>
        </ul>
        <div *ngIf="confirmResult">
          Confirm Result: {{confirmResult}}
        </div>
        <button type="button" class="btn btn-primary" (click)="openConfirmationModalClicked()">
          Confirm
        </button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-pale-green">
        <i class="icon ion-ios-analytics"></i>
        Routed Modal
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Linking to specified route will launch model</li>
        </ul>
        <button type="button" class="btn btn-primary" routerLink="/dashboard/modal/routed-modal">
          Launch routed modal
        </button>
      </div>
    </div>
  </div>

</div>
