<div class="card">
  <div ctsappWizard (onNext)="onNext($event)" (onPrevious)="onPrevious($event)" (onFinish)="onFinish()" #myWizard="wizard">

    <div ctsappWizardSteps></div>

    <div [ctsappWizardStep]="'First Step'" class="step-content-wrapper">
      <p>This is Step 1. You can {{step1Info}}</p>
    </div>

    <div [ctsappWizardStep]="'Second Step'" class="step-content-wrapper">
      <p>This is Step 2. Input something here to move forward:</p>
      <input class="form-control" (keyup)="onInputChange()" [(ngModel)]="inputValue">
    </div>

    <div [ctsappWizardStep]="'Third Step'" class="step-content-wrapper">
      This is Step 3.
      <p>Did finish: {{didFinish}}</p>
    </div>

    <div class="control-wrapper">
      <div class="btn-group" role="group">
        <button ctsappWizardPrevious type="button" class="btn btn-secondary"><i class="icon ion-chevron-left"></i> Previous</button>
        <button ctsappWizardNext [enabled]="nextEnabled" type="button" class="btn btn-secondary">
          <div *ngIf="!myWizard.isAtLast">
            Next <i class="icon ion-chevron-right"></i>
          </div>
          <div *ngIf="myWizard.isAtLast">
            Finish <i class="icon ion-checkmark"></i>
          </div>
        </button>
      </div>
    </div>

  </div>
</div>


