<p class="message bg-light-blue">
  This component <i>prefetches</i> data before loading.
</p>
<div class="card">
  <div class="card-header bg-blue">
    <i class="icon ion-ios-analytics"></i>
    Riders
  </div>
  <div class="card-block">
    <table class="table">
      <thead>
      <th *ngFor="let prop of riderProperties">{{prop}}</th>
      </thead>
      <tbody>
      <tr *ngFor="let rider of riders">
        <td *ngFor="let prop of riderProperties">
          {{rider.getPropertyForDisplay(prop)}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
