<p class="message bg-light-blue">
  This component hides the entire below card before data is loaded.
</p>
<div class="card" *ngIf="transactions.length">
  <div class="card-header bg-blueberry">
    <i class="icon ion-ios-analytics"></i>
    Transactions
  </div>
  <div class="card-block">
    <table class="table">
      <thead>
      <th *ngFor="let prop of transactionProperties">{{prop}}</th>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td *ngFor="let prop of transactionProperties">
          {{transaction.getPropertyForDisplay(prop)}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
