<div class="sidebar-wrapper" [class.closed]="!sidebarService.isOpen"  [appTour]="'The Sidebar'" [tourContent]="'Use the sidebar to navigate to example features.'" [tourPlacement]="'right'" [tourIndex]="1">
  <div class="top-wrapper">
    <a class="project-title-wrapper">
      <div class="project-icon">
        <i class="icon ion-earth"></i>
      </div>
      <div class="project-title">
        App Title
      </div>
    </a>
    <a class="close-button-wrapper" (click)="closeSidebarClicked()">
      <i class="icon ion-close-round"></i>
    </a>
  </div>

  <div class="sidebar-content-wrapper">

    <div class="sidebar-group">
      <div class="heading-wrapper">
        <div class="heading">
          One
        </div>
      </div>
      <div class="subwrapper">
        <div class="item-wrapper selected">
          <a class="item" routerLink="/dashboard">
            <div class="color"></div>
            <div class="content"><i class="icon ion-home"></i> Home</div>
          </a>
        </div>
        <div class="item-wrapper expandable">
          <a class="item" data-toggle="collapse" data-target="#data-retrieval-submenu">
            <div class="color"></div>
            <div class="content"><i class="icon ion-connection-bars"></i> Data Retrieval</div>
            <div class="expand-icon"><i class="icon ion-chevron-right"></i></div>
          </a>
          <div id="data-retrieval-submenu" class="submenu collapse">
            <div class="item-wrapper">
              <a class="item" routerLink="/dashboard/data/riders" [routerLinkActive]="['active']">
                <div class="color"></div>
                <div class="content"><i class="icon ion-person-stalker"></i> Riders</div>
              </a>
            </div>
            <div class="item-wrapper">
              <a class="item" routerLink="/dashboard/data/passes" [routerLinkActive]="['active']">
                <div class="color"></div>
                <div class="content"><i class="icon ion-android-car"></i> Passes</div>
              </a>
            </div>
            <div class="item-wrapper">
              <a class="item" routerLink="/dashboard/data/transactions" [routerLinkActive]="['active']">
                <div class="color"></div>
                <div class="content"><i class="icon ion-card"></i> Transactions</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-group">
      <div class="heading-wrapper">
        <div class="heading">
          Two
        </div>
      </div>
      <div class="subwrapper">
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/toast" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-chatbox"></i> Toast</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/typeahead" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-android-checkmark-circle"></i> Typeahead</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/forms" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-clipboard"></i> Forms</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/drag-and-drop" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-arrow-move"></i> Drag and Drop</div>
          </a>
        </div>
      </div>
    </div>


    <div class="sidebar-group">
      <div class="heading-wrapper">
        <div class="heading">
          Three
        </div>
      </div>
      <div class="subwrapper">
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/datepicker">
            <div class="color"></div>
            <div class="content"><i class="icon ion-android-calendar"></i> Datepicker</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/modal" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-cube"></i> Modal</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/loading" [routerLinkActive]="['active']">
            <div class="color"></div>
            <div class="content"><i class="icon ion-load-a"></i> Loading Indicator</div>
          </a>
        </div>
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/wizard">
            <div class="color"></div>
            <div class="content"><i class="icon ion-wand"></i> Wizard</div>
          </a>
        </div>
      </div>
    </div>

    <div class="sidebar-group" [hidden]="!loggedInUser.isAdmin">
      <div class="heading-wrapper">
        <div class="heading">
          Admin
        </div>
      </div>
      <div class="subwrapper">
        <div class="item-wrapper">
          <a class="item" routerLink="/dashboard/admin">
            <div class="color"></div>
            <div class="content"><i class="icon ion-hammer"></i> Admin</div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

