/* This is mostly plug and play, except for these requirements:
   - The sidebar directive element should be display: flex; flex-direction: column;
   - The parent element of the sidebar directive should be display: flex and height: 100%;
   - The sibling element after the sidebar directive element should wrap your main content, and should be flex: 1;
   - Declare the sidebar service in your module to control opening and closing
*/

$sidebar-width: 240px;
$sidebar-background: #FFF;
$sidebar-border-right: 1px solid #CCC;
$sidebar-transition-time: 500ms;

$title-color: #0066CC;
$heading-color: #777777;

$item-border-color: #F1F1F1;
$item-hover-background: #F3F3F3;
$item-highlight-selected-color: #0072FF;
$item-highlight-hover-color: #FF7600;
$item-text-color: #717171;
$item-hover-text-color: #444;

$submenu-background: #F7F7F7;
$submenu-item-border-color: #EAEAEA;
$submenu-item-text-color: #575757;

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin custom-scrollbar($width) {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 $width rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar
  {
    width: $width;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb
  {
    background-color: #CCC;
  }
}

.sidebar-wrapper {
  overflow-y: auto;
  width: $sidebar-width;
  height: 100%;
  background: $sidebar-background;
  flex: 1;
  transition: $sidebar-transition-time;
  border-right: $sidebar-border-right;

  @include custom-scrollbar(6px);

  &.closed {
    margin-left: -$sidebar-width;
  }

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.7rem;

    .project-title-wrapper {
      display: flex;
      color: $title-color;
      font-size: 1.3rem;
      cursor: pointer;

      .project-icon {
        padding-right: 0.5rem;
      }

      .project-title {

      }

    }

    .close-button-wrapper {
      font-size: 0.8rem;
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .sidebar-content-wrapper {

    .sidebar-group {
      margin-top: 1rem;
      padding-top: 0.5rem;

      .heading-wrapper {
        font-size: 0.8rem;
        padding: 0.2rem 0;
        font-weight: 300;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin: 0 0.5rem;

        .heading {
          color: $heading-color;
        }
      }

      .subwrapper {

        .item-wrapper {
          font-size: 0.9rem;
          cursor: pointer;

          &:first-child {
            .item {
              border-top: 1px solid $item-border-color;
            }
          }

          .item {
            color: $item-text-color;
            text-decoration: none;
            position: relative;
            display: flex;
            border-bottom: 1px solid $item-border-color;

            &.active {
              .color {
                background: $item-highlight-selected-color;
              }
            }

            .color {
              width: 5px;
              background: transparent;
            }

            .content {
              flex: 1;
              padding: 0.5rem 0.8rem;
            }

            &:hover {
              .content {
                color: $item-hover-text-color;
                background: $item-hover-background;
              }
              .color {
                background: $item-highlight-hover-color;
              }
            }

            &.selected {
              .item {
                .color {
                  background: $item-highlight-selected-color;
                }
              }
            }

            i {
              padding-right: 0.5rem;
            }
          }

          &.expandable {
            .item {
              .expand-icon {
                position: absolute;
                right: 0.6rem;
                top: 0.65rem;
                font-size: 0.7rem;
                transition: 200ms;
                i {

                }

                &.expanded {
                  transform: rotate(90deg);
                }
              }
            }

            .submenu {
              background: $submenu-background;
              @include box-shadow((inset 0 4px 4px -2px rgba(0, 0, 0, 0.15)));
              .item-wrapper {
                &:first-child {
                  .item {
                    border-top: 0;
                  }
                }
                &:hover {
                  .content {
                    background: transparent;
                  }
                }
                .item {
                  color: $submenu-item-text-color;
                  border-bottom: 1px solid $submenu-item-border-color;
                  .content {
                    padding: 0.5rem 0.8rem 0.5rem 1.6rem;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}
