<div class="container">
  <div class="login-prompt">
    <h3>Login to Your Account</h3>
    <small>Actually, any (valid) email or password will do with the MockAuthService.</small>
  </div>
  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email"
             required
             type="email"
             placeholder="Email"
             [(ngModel)]="authDetails.email" name="email"
             #email="ngModel" >
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger testing" id="emailIsRequired">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password"
              required
              type="password"
              placeholder="Password"
              [(ngModel)]="authDetails.password" name="password"
              #password="ngModel" >
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" id="loginButton" class="btn btn-primary" [disabled]="!loginForm.form.valid || submitted">Login</button>
      <div class="or-divider">- OR -</div>
      <button class="btn btn-default" (click)="signInWithGoogleClicked()">Sign in with google</button>
    </div>
  </form>

</div> <!-- /container -->
