.login-form {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  label {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vh;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 0.5rem;
  }

  .or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 100;
  }
}
