<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-magenta">
        <i class="icon ion-ios-analytics"></i>
        Input Mask - 24 Hour Time
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Supports 24-hour format</li>
          <li>Auto-inserts colon and advances to minutes field</li>
        </ul>
        <div class="form-group">
          <label for="timeInput">Time</label>
          <input class="form-control" id="timeInput"
                 type="text"
                 [textMask]="{mask: twentyFourHourTimeMask, pipe: twentyFourHourTimePipe}"
                 placeholder="01:23">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-light-red">
        <i class="icon ion-ios-analytics"></i>
        Input Mask - Date
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Verifies month and date fields on-the-fly</li>
          <li>Auto-inserts / between month, date, and year</li>
        </ul>
        <div class="form-group">
          <label for="dateInput">Date</label>
          <input type="text" class="form-control" id="dateInput"
                 [textMask]="{mask: dateMask, pipe: datePipe, guide: true}"
                 placeholder="mm/dd/yyyy">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blue">
        <i class="icon ion-ios-analytics"></i>
        Input Mask - Social Security Number
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Only accepts numbers</li>
          <li>Auto-inserts dash</li>
        </ul>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input class="form-control" id="ssn"
                 type="text"
                 [textMask]="{mask: socialSecurityMask}"
                 placeholder="000-00-0000">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blueberry">
        <i class="icon ion-ios-analytics"></i>
        Input Mask - Email
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Prevents additional @ after first instance</li>
          <li>Auto-inserts @ and .</li>
        </ul>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="text" class="form-control" id="emailInput"
                 [textMask]="{mask: emailMask, pipe: emailPipe}"
                 placeholder="example@example.com">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-gold">
        <i class="icon ion-ios-analytics"></i>
        Pass Form
      </div>
      <div class="card-block">
        <div [hidden]="successfullySubmitted">
          <p>Remote data check: Checks that the Rider ID exists (use 100 - 109 for a working ID)</p>
          <form (ngSubmit)="onSubmit()" #passForm="ngForm">
            <div class="form-group">
              <label for="riderId">Rider ID</label>
              <input class="form-control" id="riderId"
                     required
                     [(ngModel)]="newPassDetails.riderId" name="riderId"
                     type="text"
                     [textMask]="{mask: riderIdMask, guide: false}"
                     #riderId="ngModel" placeholder="Rider ID #"
                     (blur)="onRiderIdBlur()">
              <div *ngIf="passFormErrors.riderId" class="alert alert-danger">
                {{ passFormErrors.riderId }}
              </div>
            </div>
            <div class="form-group">
              <label for="expirationDate">Expiration Date</label>
              <input type="text" class="form-control" id="expirationDate"
                     [textMask]="{mask: dateMask, pipe: datePipe, guide: false}"
                     [(ngModel)]="newPassDetails.expirationDate" name="expirationDate" placeholder="Optional Expiration Date">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!passForm.form.valid || didSubmit">Submit</button>
          </form>
        </div>
        <div [hidden]="!successfullySubmitted">
          <div *ngIf="!createdPass">...</div>
          <div *ngIf="createdPass">
            <h2>You created the following Pass:</h2>
            <div class="row">
              <div class="col-xs-3">ID:</div>
              <div class="col-xs-9  pull-left">{{ createdPass.model.id }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">Rider ID:</div>
              <div class="col-xs-9  pull-left">{{ createdPass.model.riderId }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">Expiration Date:</div>
              <div class="col-xs-9 pull-left">{{ createdPass.model.expirationDate }}</div>
            </div>
            <div class="row">
              <div class="col-xs-3">Created Date:</div>
              <div class="col-xs-9 pull-left">{{ createdPass.model.createdDate }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
