<div class="row">

  <div class="col-xs-12">
    <div class="card">
      <div class="card-header bg-blueberry">
        <i class="icon ion-ios-analytics"></i>
        Admin View
      </div>
      <div class="card-block">
        <p>
          This is the admin view, which should only be visible if you changed the logged in user as admin.
        </p>
        <p>
          It is not accessible unless the user is admin, which is done via the DashboardAdminAuthGuard service.
        </p>
      </div>
    </div>
  </div>

</div>
