$content-background: #ECECEC;

.dashboard-wrapper {
  display: flex;
  height: 100%;
}
.app-sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar-pusher {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: auto;
  background: $content-background;
}
.notification-sidebar-wrapper {
  display: flex;
  flex-direction: column;
}
