<div class="dashboard-wrapper">
  <div app-sidebar class="app-sidebar"></div>
  <div class="sidebar-pusher">
    <div app-navbar></div>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
      <app-notification-sidebar class="notification-sidebar-wrapper"></app-notification-sidebar>
    </div>
  </div>
</div>
<template ngbModalContainer></template>

