/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'custom-styles';

html,body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

.app-root {
  height: 100%;
  &>div {
    height: 100%;
  }
}

.auto-width {
  width: auto !important;
}

// Drag drop
.app-dragover {
  background: #95b3ff !important;
  transition: 300ms;
}

// Special style for the content wrapper - we want whatever component that's after the router outlet
// to be flex: 1, but nothing else. This style cannot be applied inside the component's css because
// it will not be applied due to the router outlet placing the element.
.content-wrapper {
  >:not(router-outlet):not(.notification-sidebar-wrapper) {
    flex: 1;
    padding: 1rem;
  }
}

// Particular utility styles
.ctsapp {

  &.max-height {
    height: 100%;
  }

  &.input.wrapper {
    border-radius: $input-border-radius;
    background: white;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid #CCC;

    &.borderless {
      border: 0;
    }

    &.icon {
      i {
        padding: 0 0.5rem;
      }
    }
    input {
      padding-right: .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #55595c;
      background-color: transparent;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 0;
      outline: 0;
      width: 100%;
    }

    &.error {
      &:not(.borderless) {
        border: 1px solid #FF7878;
      }
      background: #FFE1E7;
    }

    .dropdown-button {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }

}

// Time picker overrides for the date time picker
.timepicker {
  margin-top: 20px;
  a[data-action] {
    padding: 0 12px;
  }
}

// Colors
.bg-pale-green {
  background-color: #a0d468 !important;
  color: white;
}
.bg-light-red {
  background-color: #e46f61 !important;
  color: white;
}
.bg-blue {
  background-color: #5db2ff !important;
  color: white;
}
.bg-blueberry {
  background-color: #6f85bf !important;
  color: white;
}
.bg-magenta {
  background-color: #bc5679 !important;
  color: white;
}
.bg-gold {
  background-color: #f9b256 !important;
  color: white;
}
.bg-light-blue {
  background-color: #d9edf7 !important;
  color: rgba(0,0,0,0.9);
}
.pale-green {
  color: #a0d468 !important;
}
.light-red {
  color: #e46f61 !important;
}
.blue {
  color: #5db2ff !important;
}
.blueberry {
  color: #6f85bf !important;
}
.magenta {
  color: #bc5679 !important;
}
.gold {
  color: #f9b256 !important;
}
.light-blue {
  color: #d9edf7 !important;
}

// Custom data-widget
.data-widget {
  display: flex;
  border-radius: 0.2rem;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);

  .left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-weight: 100;
  }

  .right-wrapper {
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    .top {
      font-size: 1.05rem;
    }

    .bottom {
      font-size: 0.8rem;
      color: rgba(0,0,0,0.6);
      font-weight: 100;
    }
  }
}

// The static wrapper in the index
.root-loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  color: rgba(0,0,0,0.8);
  opacity: 0.8;

  .wrapper.transparent {
    background: transparent;
  }
  .wrapper.fade {
    opacity: 0;
  }
  .inner-text {
    font-size: 0.8rem;
    top: calc(50% + 1.9rem);
    left: calc(50% - 1.85rem);
    position: absolute;
    font-weight: 300;
    opacity: 1;
    transition: opacity 100ms;
  }
  .inner-text.fade {
    opacity: 0;
  }
  .spinner {
    font-size: 1em;
    margin: 0px;
    text-align: center;
    z-index: 1000;
    height: 100%;
  }
  .spinner:before {
    position: absolute;
    content: '';
    left: calc(50% - 1.15rem);
    top: calc(50% - 1.15rem);
    width: 2.29rem;
    height: 2.29rem;
    border-radius: 500rem;
    border: .2em solid rgba(255,255,255,.15);
  }
  .spinner:after {
    border-color: #FFF transparent transparent;
    position: absolute;
    content: '';
    left: calc(50% - 1.15rem);
    top: calc(50% - 1.15rem);
    width: 2.29rem;
    height: 2.29rem;
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
  }
  .spinner.inverted:before {
    border-color: rgba(255,255,255,.1);
  }
  .spinner.inverted:after {
    border-color: #C7C7C7 transparent transparent;
  }
  @keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// Cards similar to Bootstrap 4
.card {
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}
.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-block {
  padding: 1.25rem;
}
.card {
  border: 0;
  @include box-shadow((0 2px 4px rgba(0,0,0,.2)));
  font-size: 0.9rem;

  .card-header {
    border: 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .card-block {
    @include box-shadow((inset 0 4px 4px -2px rgba(0, 0, 0, 0.15)));

    .card-title {
    }
    .card-text {
    }
  }
}

// Message similar to Bootstrap 4
.message {
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

// Well similar to Bootstrap 4
.well {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  background-color: #fbfbfb;
  border: 0;
  color: #262626;
  position: relative;
  margin-bottom: 30px;
  min-height: 0;
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}


