<p class="message bg-light-blue">
  This component doesn't attempt to hide anything before getting data, resulting in a bit of a flicker - especially if the server is slow.
</p>
<div class="card">
  <div class="card-header bg-light-red">
    <i class="icon ion-ios-analytics"></i>
    Passes
  </div>
  <div class="card-block">
    <table class="table">
      <thead>
      <th *ngFor="let prop of passProperties">{{prop}}</th>
      </thead>
      <tbody>
      <tr *ngFor="let pass of passes">
        <td *ngFor="let prop of passProperties">
          {{pass.getPropertyForDisplay(prop)}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
