<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blueberry">
        <i class="icon ion-ios-analytics"></i>
        Loading Indicator
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Simple loading animation</li>
        </ul>
        <button class="btn btn-primary" (click)="simulateFirstBlockLoad()">Simulate Load</button>
        <div class="example-loading-block">
          <ctsapp-loading
            [loading]="firstBlockLoading"
          ></ctsapp-loading>
          <div *ngIf="!firstBlockLoading">
            <ul>
              <li>This is</li>
              <li>Some content</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-blue">
        <i class="icon ion-ios-analytics"></i>
        Inverted Loading Indicator
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Inverted with text</li>
        </ul>
        <button class="btn btn-primary" (click)="simulateSecondBlockLoad()">Simulate Load</button>
        <div class="example-loading-block">
          <ctsapp-loading
            [loading]="secondBlockLoading"
            [background]="'inverse'"
            [text]="'Loading'"
          ></ctsapp-loading>
          <div *ngIf="!secondBlockLoading">
            <ul>
              <li>This is</li>
              <li>Some content</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-light-red">
        <i class="icon ion-ios-analytics"></i>
        Progress Loading Indicator
      </div>
      <div class="card-block">
        <ul class="card-text">
          <li>Display progress bar while loading</li>
        </ul>
        <button class="btn btn-primary" (click)="simulateThirdBlockLoad()">Simulate Load</button>
        <div class="example-loading-block">
          <ctsapp-loading
            [loading]="thirdBlockLoading"
            [background]="'inverse'"
            [text]="'Progress'"
            [progress]="progress"
          ></ctsapp-loading>
          <div *ngIf="!thirdBlockLoading">
            <ul>
              <li>This is</li>
              <li>Some content</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-header bg-pale-green">
        <i class="icon ion-ios-analytics"></i>
        Loading Indicator - No Spinner
      </div>
    <div class="card-block">
      <ul class="card-text">
        <li>Display loading text without animation</li>
      </ul>
      <button class="btn btn-primary" (click)="simulateFourthBlockLoad()">Simulate Load</button>
      <div class="example-loading-block">
        <ctsapp-loading
          [loading]="fourthBlockLoading"
          [text]="'Loading'"
          [showSpinner]="false"
        ></ctsapp-loading>
        <div *ngIf="!fourthBlockLoading">
          <ul>
            <li>This is</li>
            <li>Some content</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
